<header class="header">
    <div class="container">
      <a routerLink="">
        <img class="logoKevao" src="../../assets/image/logo-kv.jpg" alt="dev-kevao">
      </a>
      <h1>DESENVOLVEDOR - KEVIN MORENTE</h1>
      <app-menu id="menu-close"></app-menu>
      <nav>
        <ul id="menu">
          <li><a routerLink="/" (click)="toggleMenu(); scrollToTop()">INÍCIO</a></li>
          <li><a routerLink="/sobre" (click)="toggleMenu(); scrollToTop()">VÍDEO</a></li>
          <li><a routerLink="/projetos" (click)="toggleMenu(); scrollToTop()">PROJETOS</a></li>
          <li><a routerLink="/contato" (click)="toggleMenu(); scrollToTop()">CONTATO</a></li>
        </ul>
      </nav>
    </div>
  </header>
  