.body1{
    display: flex;
    justify-content: right;
}

.body2{
    display: flex;
    justify-content: left;
}

.body3{
    display: flex;
    justify-content: center;
}

.main{
    background-color: rgba(255, 255, 255, 0.80);
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    max-width: 1300px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text1{
    max-width: 400px;
}

.foto1{
    width: 600px;
    opacity: 100%;
    border-radius: 20px;
}

p{
    font-size: 18px;
    color: black;
    text-align: justify;
}

h1{
    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: font-size 0.3s; /* Transição para a cor durante 0.3 segundos */
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

button:hover{
    font-size: 25px;
    transition: font-size 0.3s; /* Transição para a cor durante 0.3 segundos */
}

button, a {
    text-decoration: none;
    color: white;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}

