<div class="body1">
    <div class="main">
        <div class="text1">
            <h1>
                SITE DE SERVIÇOS<br>
                (CLIENTE PERMITIU A DIVULGAÇÃO)<br><br>
                
            </h1>
            <p> 
                O cliente entrou em contato comigo e pediu para eu criar um site para sua empresa, inclusive a base para este portfólio foi o mesmo.<br><br>
                O site foi criado usando o framework Angula.js, que particularmente gosto muito.<br><br>
                Para ver o print a direita maior clique com o botão direito e abra em uma nova guia para ter uma visualização melhor.<br><br>
            </p>
            <h1>EXECUTANDO O SITE EM UM LOCALHOST<br><br></h1>
            <P>
                Faça o download do projeto no github e execute o comando abaixo no console dentro de sua IDE que está os arquivos do projeto.<br><br>
                ( ng server )<br><br>
                Logo depois no console aparecerá o link para você abrir em seu navegador e desfrutar do site.<br><br>
            </P>
            <div class="btn">
                <button><a target="_blank" href="https://master--combattengenharia.netlify.app/">SITE</a></button>
                <button><a target="_blank" href="https://github.com/kevinmorente/combat-engenharia-angular">GITHUB</a></button>
            </div>
        </div>
        <img class="foto1" src="../../../assets/image/combattprint.png" alt="print-site">
    </div>
</div>

<div class="body2">
    <div class="main">
        <img class="foto1" src="../../../assets/image/to-do-list.png" alt="print-to-do-list">
        <div class="text1">
            <h1>
                TO DO LIST<br><br>
            </h1>
            <p> 
                Nessa aplicação é criado do zero um site de atividades (to do list), onde você pode adicionar, marcar como concluída e excluir.<br><br>
            </p>
            <h1>EXECUTANDO O SITE EM UM LOCALHOST<br><br></h1>
            <P>
                Para executar basta abrir os arquivos em seu VSCode, e instalar a extensão Live Server, depois aperte com o botão esquerdo do mause no arquivo HTML e clique em "Open With Live Server", agora só aproveitar!<br><br>
            </P>
            <div class="btn">
                <button><a target="_blank" href="https://main--todolistkevin.netlify.app/">SITE</a></button>
                <button><a target="_blank" href="https://github.com/kevinmorente/to-do-list">GITHUB</a></button>
            </div>
        </div>
    </div>
</div>

<div class="body1">
    <div class="main">
        <div class="text1">
            <h1>
                LOJA ONLINE<br>
                (EM DESENVOLVIMENTO)<br><br>
            </h1>
            <p> 
               Site de loja onde criado no framework React.js consumindo uma API do Mercado Livre para fins de test, ainda em construção mas já tem vários conceitos legais.<br><br>
            </p>
            <h1>EXECUTANDO O SITE EM UM LOCALHOST<br><br></h1>
            <P>
                Faça o download e execute o comando abaixo no console de sua IDE dentro da pasta que está os arquivos.<br><br>
                ( npm start ) ou ( yarn start )<br><br>
            </P>
            <div class="btn">
                <button><a target="_blank" href="https://master--lojaonlinekvmorente.netlify.app/">SITE</a></button>
                <button><a target="_blank" href="https://github.com/kevinmorente/Loja-Online">GITHUB</a></button>
            </div>
        </div>
        <img class="foto1" src="../../../assets/image/loja-online.png" alt="print-site">
    </div>
</div>

<div class="body2">
    <div class="main">
        <img class="foto1" src="../../../assets/image/films.png" alt="print-to-do-list">
        <div class="text1">
            <h1>
                FILMS EXPLORER<br><br>
            </h1>
            <p> 
                Aqui temos uma aplição aonde simulamos e usamos uma API para classificar filmes em uma aplicação WEB, eu utilizei ela bastante para estudar componentização.<br><br>
            </p>
            <h1>EXECUTANDO O SITE EM UM LOCALHOST<br><br></h1>
            <P>
                Para utilizar a aplicação em seu dispositivo deve seguir os passos abaixo, aqui eu fiz no sistema Ubuntu(Linux) então pode variar de acordo com o sistema que você está utilizando!<br><br>
                1 - Navegue até a pasta criada, abra no Visual Studio Code e execute o seguinte comando abaixo no terminal.<br>
                ( yarn )<br>
                2 - logo após executar o primeiro comando executar o server com o comando abaixo no mesmo termina.<br>
                ( yarn server )<br>
                3 - Com o server rodando no primeiro terminal será necessário abrir outro terminal e executar o seguinte comando abaixo para rodar a aplicação.<br>
                ( yarn dev )<br>
                4 - Com o server e a aplicação rodando em modo desenvolvimento você já vai conseguir acessa-la via navegado, apenas usar o link abaixo.<br>
                ( http://localhost:8080/ )<br><br>
            </P>
            <div class="btn">
                <button><a target="_blank" href="https://github.com/kevinmorente/films-explorer">GITHUB</a></button>
            </div>
        </div>
    </div>
</div>

<div class="body1">
    <div class="main">
        <div class="text1">
            <h1>
                MAIS PROJETOS<br><br>
            </h1>
            <p> 
               Tenho mais alguns projetos que fiz e trabalhei em meu github, aos poucos eu vou trazendo para meu portfólio, mas fique a vontade para entrar e ver, espero que goste!<br><br>
            </p>
            <div class="btn">
                <button><a target="_blank" href="https://github.com/kevinmorente">GITHUB</a></button>
            </div>
        </div>
        <img class="foto1" src="../../../assets/image/gitkevin.png" alt="githun-kevin">
    </div>
</div>

<div class="body3">
    <div class="main">
        <div class="btn">
            <button><a routerLink="/" (click)="toggleMenu(); scrollToTop()">INÍCIO</a></button>
            <button><a routerLink="/sobre" (click)="toggleMenu(); scrollToTop()">SOBRE</a></button>
            <button><a routerLink="/contato" (click)="toggleMenu(); scrollToTop()">CONTATO</a></button>
        </div>
    </div>
</div>