<div class="body1">
    <div class="main">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gu5H2oVA_mE?si=DHvSEBhEJ4aexqWi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<div class="body1">
    <div class="main">
        <div class="btn">
            <button><a routerLink="/" (click)="toggleMenu(); scrollToTop()">INÍCIO</a></button>
            <button><a routerLink="/projetos" (click)="toggleMenu(); scrollToTop()">PROJETOS</a></button>
            <button><a routerLink="/contato" (click)="toggleMenu(); scrollToTop()">CONTATO</a></button>
        </div>
    </div>
</div>