<div class="body1">
    <div class="main">
        <div class="text1">
            <p> 
                Olá! Sou um desenvolvedor full stack dedicado e apaixonado pela criação de soluções tecnológicas inovadoras. Atualmente, estou cursando pós-graduação em Desenvolvimento Full Stack, o que tem me permitido aprofundar ainda mais meu conhecimento e habilidades nas tecnologias mais recentes do mercado.<br><br>
                Ao longo da minha trajetória, desenvolvi diversos projetos utilizando uma ampla gama de tecnologias, incluindo JavaScript, NodeJS, C, HTML5, CSS, React, Angular, Python, MySQL e PHP. Essas experiências me permitiram criar aplicações dinâmicas e responsivas, focadas na melhor experiência do usuário e na eficiência do código.<br><br>
                Estou em busca de oportunidades em empresas que valorizem a inovação, a colaboração e o aprendizado contínuo. Acredito que a chave para o sucesso no desenvolvimento de software é a combinação de um ambiente de trabalho estimulante com a vontade de sempre aprender e se adaptar às novas tendências tecnológicas.<br><br>
                Se você precisa de um desenvolvedor comprometido com a qualidade e a inovação, estou pronto para contribuir e crescer junto com a sua empresa. Vamos criar algo incrível juntos!
            </p>
        </div>
        <img class="foto1" src="https://avatars.githubusercontent.com/u/56145099?s=400&u=351185609d72fc7235aa4b8d3340bbb8d5804408&v=4" alt="foto-kevao">
    </div>
</div>

